{% if theme.sharing and page.sharing != false %}<div class="entry-social-sharing {% if theme.share_with == 'buttons' %}social-buttons{% else %}social-links{% endif %}">
{% if theme.share_with == 'buttons' %}
{% if theme.sharing contains 'twitter' %}{% tweet_button %}{% endif %}
{% if theme.sharing contains 'facebook' %}{% facebook_like_button %}{% endif %}
{% if theme.sharing contains 'gplus' %}{% gplus_one_button %}{% endif %}
{% elsif theme.share_with == 'links' %}
{% if theme.sharing contains 'twitter' %}{% tweet_link %}{% endif %}
{% if theme.sharing contains 'facebook' %}{% facebook_share_link %}{% endif %}
{% if theme.sharing contains 'gplus' %}{% gplus_share_link %}{% endif %}
{% endif %}
{% if theme.sharing contains 'email' %}
{% email_share_link %}
{% endif %}
</div>{% endif %}
