---
layout: theme:default
---
<article class="page entry {{ page.class }}" role="article">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title_html }}</h1>
    <div class="entry-meta">{{ page.date_html }}</div>
    <div class="entry-social top">{% include theme:social/page-header.html %}</div>
  </header>

  <div class="entry-content">{{ content }}</div>

</article>
{% wrap include theme:comments/embed.html if page.comments %}
<div class='entry-comments'>{{ yield }}</div>
{% endwrap %}
