---
layout: theme:default
---
<article class="page entry {{ page.class }}" role="article">
  <header class="entry-header">
    <div class='entry-header-content'>
      <h1 class="entry-title">{{ page.title_html }}</h1>
    </div>
  </header>

  {% wrap return page.date_html %}<div class="entry-meta"><a class='entry-date' href="{% return page.url %}">{{ yield }}</a></div>{% endwrap %}

  <div class="entry-content">{{ content }}</div>

  {% wrap yield footer %}<footer class='entry-footer' role='contentinfo'>
    {{ yield }}
  </footer>{% endwrap %}

  {% include theme:social/sharing.html | join_lines %}

</article>
{% wrap include theme:social/comments.html if theme.comments and page.comments == true %}
<div class='entry-comments'>{{ yield }}</div>
{% endwrap %}
