---
layout: theme:default
---
<div class="post-index">
  {% for post in paginator.posts %}
    {% include theme:index_post.html %}
  {% endfor %}
</div>

<nav class="post-index-nav pagination" role="navigation">
  {% if paginator.next_page %}
    <a class="pagination-prev" title="Older posts" href="{{paginator.next_page_path}}">&larr; Older</a>
  {% endif %}
  <a class='archive-link' href="/archive">Post Archive</a>
  {% if paginator.previous_page %}
    <a class="pagination-next" title="Newer posts" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
  {% endif %}
</nav>
