---
layout: theme:default
---
<article class="post entry {{ page.class }} {% return 'linkpost' if entry.linkpost %}" role="article">
  <header class="entry-header">
    {% assign title = (page.linkpost ? page.title_link : page.title_html) %}
    <h1 class="entry-title">{{ title }}</h1>
    <div class="entry-meta">{{ page.date_html }}</div>
    {% include theme:social/post-header.html %}
    {% yield header %}
  </header>

  <div class="entry-content">{{ content }}</div>

  <footer class='entry-footer' role='contentinfo'>
    <p class="entry-meta">
      {% yield footer %}
      {% assign author = page.author || site.author %}
      {% if author %}
        <div class='author-credit'>Written by: {{ author }}</div>
      {% endif %}
      <div class='posted-date'>Published: {{ page.date_time_html }}</div>
      {% if page.categories %} 
        <div class="categories">Categories: {{ page.categories | category_links }}</div>
      {% endif %}
      {% include theme:social/post-footer.html %}
    </p>
  </footer>
</article>
{% include theme:post-nav.html %}
{% wrap include theme:comments/embed.html if post.comments %}
<div class='entry-comments'>{{ yield }}</div>
{% endwrap %}
