$main-bg:              #f4f3ef;//#edefef;//#f5f6f6;
$page-border:          darken($main-bg, 6);//#dadede;

$accent-color:         #e46767; // pale red

$text-color:           #444;
$medium-text-color:    #666;
$light-text-color:     #888;
$link-color:           $accent-color;//#4A89DC;

$site-header-bg:       #fff;//#edefef;
$site-title-color:     #555;
$main-nav-color:       #333;

$mobile-nav-bg:        #393b3d;
$mobile-nav-color:     #fff;
$mobile-search-color:  #fff;
$mobile-nav-border:    lighten($mobile-nav-bg, 5);

$gray:                 #8d9297;
