$serif-font-stack: "Source Serif Pro", Georgia, Times, 'Times New Roman', serif;
$sans-font-stack:  "Source Sans Pro", "Helvetica Neue", Arial, sans;

$main-font:     $serif-font-stack;
$title-font:    $serif-font-stack;
$subtitle-font: $serif-font-stack;
$meta-font:     $sans-font-stack;
$nav-font:      $sans-font-stack;
