@mixin until($size) {
  $size: $size - 1;
  @media all and (max-width: $size) { @content; }
}

@mixin at-least($size) {
  @media all and (min-width: $size) { @content; }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin between($small-width, $large-width) {
  $large-width: $large-width - 1;
  @media (max-width: $large-width) and (min-width: $small-width) { @content; }
}

@mixin pad-box($v: $v-pad-box, $h: $h-pad-box) {
  @if $v {
    @include v-pad-box($v);
  }
  @if $h {
    @include h-pad-box($h);
  }
}

@mixin invert-h-pad($h: $h-pad-box) {
  margin: {
    left: - nth($h, 1);
    right: - nth($h, 1);
  }
  @include at-least($medium) {
    margin: {
      left: - nth($h, 2);
      right: - nth($h, 2);
    }
  }
}

@mixin v-pad-box($v: $v-pad-box) {
  padding: {
    top: nth($v, 1);
    bottom: nth($v, 1);
  }
  @include at-least($medium) {
    padding: {
      top: nth($v, 2);
      bottom: nth($v, 2);
    }
  }
}

@mixin h-pad-box($h: $h-pad-box) {
  padding: {
    left: nth($h, 1);
    right: nth($h, 1);
  }
  @include at-least($medium) {
    padding: {
      left: nth($h, 2);
      right: nth($h, 2);
    }
  }
}

@mixin triangle($direction, $color, $size) {
  @if $direction == left {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == right {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == up {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $direction == down {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }

  height: 0;
  width: 0;
}

