// Global breakpoints
$tiny: 320px;
$small: 550px;
$medium: 760px;
$large: 900px;
$max: 1080px;


// Item widths
$main-sidebar-width: 300px;
$main-content-max: 1080px;
$content-pad: 20px;

$h-pad-box: 5%, 40px;
$v-pad-box: 5%, 30px;

$base-font-size: 10px;
$main-nav-font-size: 1.6rem;
