.category-archive {
}

.archive-year {
}

.archive-year-heading {
  font-size: 2em;
}

.archive-entry-header {
  font-size: 1.5em;
}

.archive-entry-date {
  font-size: 1em;
}

.archive-entry-footer {
}

