.category-archive {
}

.archive-year {
}

.archive-year-heading {
  font-size: 2rem;
}

.archive-entry-header {
  font-size: 1.5rem;
}

.archive-entry-date {
  font-size: 1rem;
}

.archive-entry-footer {
}

