$site-bg:            #edefef;
$main-bg:            #f5f6f6;
$text-color:         #444;
$link-color:         #4A89DC;
$page-border:        #aaa;

$accent-color:       #e46767; // pale red
$light-text-color:   #888;
