.entry {
  margin: { top: 4em; bottom: 4em; }
  margin: { left: auto; right: auto; }
  + .entry {
    padding-top: 2em;
    &:before {
      content: "";
      display: block;
      max-width: $main-content-max - ($content-pad * 2);
      border-top: 1px solid $page-border;
      margin: 0 auto;
      position: relative;
      top: -2em;
    }
  }
}

.article-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $link-color;
  }
}

.entry-header {
  @if ($center-headings) {
    text-align: center;
  }
}

.entry-title {
  margin-bottom: 0;
}

.entry-meta {
  color: $medium-text-color;
}

.entry-content {
  margin: { top: 2em; bottom: 2em; }
}

.entry-meta, .entry-subtitle, .entry-footer {
  font-family: $meta-font;
  font-weight: 400;
  font-size: 1.6rem;
}

.entry-header > * {
  position: relative;
  z-index: 1;
}
.entry-subtitle {
  font-family: $subtitle-font;
  font-size: 2rem;
  margin-top: 0;
}

.cover-image {
  .entry {
    margin-top: 0;
  }
  .entry-header {
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 1000px;
    overflow: visible;
	background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    text-shadow: rgba(#000, .5) 0 1px 1px;
    position: relative;
    display: table;
    width: 100%;
    
    // Darken image a bit
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(#222,0.3);
    }
  }

  .entry-header-content {
    display: table-cell;
    padding: 10% 0;
    vertical-align: middle;
  }

  .entry-title {
    font-family: $title-font;
    font-size: 4.5rem;

    @include at-least($small) {
      font-size: 5.5rem;
    }

    @include at-least($medium) {
      font-size: 6.5rem;
    }
  }
}

.entry-meta {
  display: block;
  text-align: center;
  .entry-header + & {
    margin: 2em auto;
  }
  a {
    color: $light-text-color;
    &:hover {
      color: $link-color;
    }
  }
}

.entry-social-sharing {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.entry-categories, .entry-tags {
  &:before {
    content: "•";
    padding: 0 8px;
    opacity: .4;
  }
}
