.entry {
  margin: { top: 2em; bottom: 2em; }
  margin: { left: auto; right: auto; }
  + .entry {
    padding-top: 2em;
    &:before {
      content: "";
      display: block;
      border-top: 1px solid $page-border;
      margin: 0 auto;
      position: relative;
      top: -2em;
    }
  }
}

.article-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $link-color;
  }
}

@if ($center-headings) {
  .entry-header, .entry-meta {
    text-align: center;
  }
}

.entry-title {
  margin-bottom: 0;
  font-family: $title-font;
  font-size: 4rem;

  @include at-least($small) {
    font-size: 5rem;
  }

  @include at-least($medium) {
    font-size: 5.5rem;
  }
}

.entry-subtitle {
  font-family: $subtitle-font;
  margin-top: 0;
  font-size: 2rem;

  @include at-least($small) {
    font-size: 2.2rem;
  }

  @include at-least($medium) {
    font-size: 2.4rem;
  }
}

.entry-meta {
  color: $medium-text-color;
}

.entry-content {
  margin: { top: 2em; bottom: 2em; }
}

.entry-meta, .entry-subtitle, .entry-footer {
  font-family: $meta-font;
  font-weight: 400;
}

.entry-meta, .entry-footer {
  font-size: 1.6rem;
  @include at-least($small) {
    font-size: 1.8rem;
  }
}

.entry-header > * {
  position: relative;
  z-index: 1;
}

.entry-header {
  border-bottom: 1px solid $page-border;
}

.entry-header-content {
  margin: 4rem 0;
}

.entry-meta {
  display: block;
  .entry-header + & {
    margin: 2em auto;
  }
  a {
    color: $light-text-color;
    &:hover {
      color: $link-color;
    }
  }
}

.entry-social-sharing {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.entry-categories, .entry-tags {
  &:before {
    content: "•";
    padding: 0 8px;
    opacity: .4;
  }
}
