.site-top-content {
  width: 100%;
  padding: 1px 0;
}

.site-header, .main-nav {
  vertical-align: middle;
  text-align: center;
  margin: .5em 0;
}

.site-title {
  margin: 0;
  font-size: 1.5rem;
}

.site-title {
  color: $site-title-color;
}

.site-title-link {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.main-nav {
  color: $main-nav-color;
}

.main-nav-item {
  display: none;
  font-family: $nav-font;
  text-decoration: none;
  color: inherit;
  padding: 0 .3rem;

  &:last-child {
    padding-right: 0;
  }
}
a.main-nav-item {
  &:hover {
    color: $accent-color;
  }
}

.main-nav-search {
  padding: 0;
  input {
    cursor: pointer;
    font-family: $nav-font;
    line-height: 1.65em;
    font-size: .8rem;

    border: {
      color: transparent;
      width: 1px;
      style: solid;
      radius: .2rem;
    }

    background: none;
    color: inherit;
    padding: 0 .5rem;
    outline: none;
    width: 5em;
    transition: all .25s ease-in-out;
    position: relative;
    top: -1px;

    &:focus {
      outline: none;
      width: 10em;
      border-color: inherit;
      @include placeholder {
        font-size: .8rem;
        opacity: .5;
      }
    }

    @include placeholder {
      transition: opacity .25s ease-in-out;
      font-size: $main-nav-font-size;
      font-family: $nav-font;
      color: inherit;
      opacity: 1;
    }

  }
}

.site-subtitle {
  margin: .2rem 0;
  color: $medium-text-color;
  font-size: .95rem;
}

@include at-least($small) {
  .main-nav-item {
    display: inline-block;
  }
}


@include at-least($medium) {
  .site-top-content {
    display: table;
  }
  .site-header, .main-nav {
    display: table-cell;
    padding: .7rem 1.4rem;
  }
  .site-header {
    text-align: left;
  }
  .main-nav {
    text-align: right;
    font-size: $main-nav-font-size;
  }
  .site-title {
    margin: 0;
    font-size: 1.8rem;
  }
}

