.site-top-content {
  display: table;
  width: 100%;
  background-color: $site-header-bg;
}

.site-header, .site-nav {
  padding: 1rem 1rem;
  vertical-align: middle;
  @include at-least($medium) {
    padding: 1rem 1.5rem;
  }
}

.site-header {
  text-align: left;
  display: table-cell;
}

.site-title {
  margin: 0;
  font-size: 1.8rem;
}

.site-title-link {
  text-decoration: none;
  color: $site-title-color;
  font-weight: normal;
}

.site-nav {
  display: table-cell;
  text-align: right;
}

.site-nav-link {
  text-decoration: none;
  color: $site-nav-color;
  padding: 0 .3rem;

  &:last-child {
    padding-right: 0;
  }
}

.site-subtitle {
  margin: .2rem 0;
  color: $medium-text-color;
  font-size: .95rem;
}
