.site-top-content {
  width: 100%;
  padding: 1px 0;
  background: $site-header-bg;
}

.site-header, .main-nav {
  vertical-align: middle;
  text-align: center;
  margin: .5em 0;
}

.site-title {
  margin: 0;
  font-size: 2.2rem;
  @include at-least($small) {
    font-size: 2.5rem;
  }
  @include at-least($small) {
    font-size: 2.8rem;
  }
}

.site-title {
  color: $site-title-color;
}

.site-title-link {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.main-nav {
  color: $main-nav-color;
}

.main-nav-item {
  display: none;
  font-family: $nav-font;
  text-decoration: none;
  color: inherit;
  padding: 0 .3em;

  &:last-child {
    padding-right: 0;
  }
}
a.main-nav-item {
  &:hover {
    color: $accent-color;
  }
}

.main-nav-search {
  padding: 0;
  input {
    cursor: pointer;
    font-family: $nav-font;
    line-height: 1.65em;
    font-size: 1.3rem;
    position: relative;
    z-index: -10;

    border: {
      color: transparent;
      width: 1px;
      style: solid;
      radius: .2em;
    }

    background: none;
    color: inherit;
    padding: 0 .5em;
    outline: none;
    width: 0px;
    transition: all .25s ease-in-out;

    &:focus {
      outline: none;
      width: 8em;
      border-color: inherit;
      position: relative;
      z-index: 0;
      top: -1px;

      @include placeholder {
        opacity: .5;
      }
      + label {
        display: none;
      }
    }

    @include placeholder {
      transition: opacity .25s ease-in-out;
      font-size: $main-nav-font-size;
      font-family: $nav-font;
      color: inherit;
      opacity: 1;
    }

  }
}

@include at-least($small) {
  .main-nav-item {
    display: inline-block;
  }
}


@include at-least($medium) {
  .site-top-content {
    display: table;
  }
  .site-header, .main-nav {
    display: table-cell;
    padding: .7em 1.4em;
  }
  .site-header {
    text-align: left;
  }
  .main-nav {
    text-align: right;
    font-size: $main-nav-font-size;
  }
}

