* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site {
  height: 100%;
  transform: translate3d(0,0,0);
}

.site-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.site-top {
  min-height: 100%;
  flex-shrink: 1;
}

.hidden-label {
  font-size: 0;
  width: 0px;
  display: inline-block;
}

.site-top, .site-bottom {
  flex-shrink: 1;
}

.site-main {
  flex-grow: 1;
  width: 100%;
  max-width: $main-content-max - ($content-pad * 2);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}


.main {
  transition: transform .2s ease-out;
  position: relative;
  z-index: 1;
}

.main-content {
  padding-bottom: 3em;
}

@include at-least($large) {
  .main-content, .main-sidebar {
    // show as columns
  }

  .main-sidebar {
    width: $main-sidebar-width;
    border-left: 1px solid $page-border;
  }
}

.main-sidebar-content {
  padding-left: $content-pad;
  padding-right: $content-pad;
}

@include at-least($max) {
  .site {
    margin-left: auto;
    margin-right: auto;
  }
}

.limit-width,
.entry-title,
.entry-subtitle,
.entry-content, 
.entry-meta,
.post-nav,
.entry-footer {
  max-width: $main-content-max;
  padding-left: $content-pad;
  padding-right: $content-pad;
  margin: { left: auto; right: auto; }
}
