* { box-sizing: border-box; }

html, body, .site {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-content {
  width: 100%;
  min-height: 100%;
  display: table;
  table-layout: fixed;
}

.site-top, .site-main, .site-bottom {
  display: table-row;
}

.site-main {
  height: 100%;
}

.main {
  transition: transform .2s ease-out;
  position: relative;
  z-index: 1;
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  float: right;
  border-top: 1px solid transparent;
}

.main-content {
  padding-bottom: 3rem;
}

@include at-least($large) {
  .main-content, .main-sidebar {
    display: table-cell;
    vertical-align: top;
  }

  .main-sidebar {
    width: $main-sidebar-width;
  }
}

@include at-least($max) {
  .site {
    margin-left: auto;
    margin-right: auto;
  }
}

.limit-width,
.entry-title,
.entry-subtitle,
.entry-meta,
.entry-social,
.entry-content, 
.entry-comments,
.post-nav,
.category-archive,
.entry-footer {
  max-width: $main-content-max;
  padding-left: $content-pad;
  padding-right: $content-pad;
  margin: { left: auto; right: auto; }
}

