* { box-sizing: border-box; }

html, body, .site {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site {
  transform: translate3d(0,0,0);
}

.site-content {
  width: 100%;
  min-height: 100%;
}

.hidden-label {
  font-size: 0;
  width: 0px;
  display: inline-block;
}

@include at-least($small) {
  .site-content {
    display: table;
    table-layout: fixed;
  }
  .site-top, .site-main, .site-bottom {
    display: table-row;
  }
}

.site-main {
  height: 100%;
}

.main {
  transition: transform .2s ease-out;
  position: relative;
  z-index: 1;
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  float: right;
}

.main-content {
  padding-bottom: 3em;
}

@include at-least($large) {
  .main-content, .main-sidebar {
    display: table-cell;
    vertical-align: top;
  }

  .main-sidebar {
    width: $main-sidebar-width;
    border-left: 1px solid $page-border;
  }
}

.main-sidebar-content {
  padding-left: $content-pad;
  padding-right: $content-pad;
}

@include at-least($max) {
  .site {
    margin-left: auto;
    margin-right: auto;
  }
}

.limit-width,
.entry-title,
.entry-subtitle,
.entry-content, 
.entry-meta,
.post-nav,
.entry-footer {
  max-width: $main-content-max;
  padding-left: $content-pad;
  padding-right: $content-pad;
  margin: { left: auto; right: auto; }
}
