.littlefoot-container {
  position: relative;
  display: inline-block;
  font-size: 1em;
}

.littlefoot-graphic {
  height: 1em;
  opacity: .6;
  transition: opacity .3s ease-in-out;
  &:hover {
    opacity: .8;
  }
  .is-open & {
    opacity: 1;
  }
}

.littlefoot-graphic-path {
  fill: $link-color;
  .is-open & {
    fill: $link-color;
  }
}

.littlefoot-button {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: .7em;
  vertical-align: middle;

  &:after {
    .is-open & {
      content: "";
    }

    position: absolute;
    left: .3em;
    z-index: 1;

  }

  .open-down &:after {
    @include triangle(up, #fff, .8em);
    bottom: -.2em;
  }

  .open-up &:after {
    @include triangle(down, #fff, .8em);
    top: -.2em;
  }
}

.littlefoot-footnote {
  position: absolute;
  z-index: 10;
  /*opacity: 0;*/
  /*transform: scale(.9,.9) translateZ(0);*/
  transition: {
    property: opacity, transform;
    duration: .25s;
    timing-function: ease-in-out;
  }

  .open-down & {
    top: 1.6em;
  }
  .open-up & {
    bottom: 1.6em;
  }

  &.is-visible {
    opacity: 1;
    transform: scale(1,1);
  }
}

.littlefoot-footnote-wrapper {
  max-height: 250px;
  overflow: auto;
  background: #fff;
  border-radius: .5em;
}
.littlefoot-footnote-content {
  width: 40em;
  font-size: .7em;
  line-height: 1.45em;
  font-family: $meta-font;
  padding: 0 1em;
  p {
    margin: .8em 0;
  }
}

.littlefoot-test {
  @extend .littlefoot-footnote-content;
  max-width: 400px;
  width: auto;
  display: inline-block;
}
