// Post index navigation

.post-index-nav {
  text-align: center;
  border-top: 1px solid $page-border;
  overflow: hidden;
  padding: { top: .65em; }
}

.post-nav {
  border-top: 1px solid $page-border;
  overflow: hidden;
  margin: {
    top: 2em;
    bottom: 2em;
  }
}

.next-post     { float: right; text-align: right; }
.previous-post { float: left; }

.next-post, .previous-post {
  text-decoration: none;
  color: inherit;
  padding: { top: .65em; bottom: .65em; }
}

.previous-post-marker, .next-post-marker {
  color: $accent-color;
  font-size: .8em;
}

.previous-post-title, .next-post-title {
  font-family: $title-font;
  font-weight: bold;
  margin: .2em 0;
}

.previous-post-date, .next-post-date {
  color: $light-text-color;
  font-size: .8em;
}
