.main-nav-search {
  color: inherit;
  position: relative;
  padding: 0;

  .site-search-input {
    cursor: pointer;
    font-family: $nav-font;
    line-height: 1.7em;
    font-size: 1.3rem;
    background: none;
    color: inherit;
    padding: 0em .5em 0em 1.5em;
    position: relative;
    outline: none;
    transition: all .2s ease-in-out;
    font-size: $main-nav-font-size;
    font-family: $nav-font;
    border: none;
    width: 2em;
    opacity: .1;
    margin: 0;
    z-index: 1;

    &:hover {
      opacity: .2;
    }

    @include placeholder {
      opacity: .5;
      font-size: $main-nav-font-size;
      font-family: $nav-font;
      color: inherit;
    }

    &:focus {
      width: 10em;
      opacity: 1;
      outline: none;
      padding-left: 1.8em;

      + .site-search-label:after {
        opacity: .1;
        background: currentColor;
      }
    }
  }

  .site-search-label {
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;

    &:after {
      content: "";
      position: absolute;
      left: 0; top: 0; bottom: 0; right: 0;
      background: currentColor;
      opacity: .05;
      transition: all .2s ease-in-out;
      border-radius: 3px;
    }
  }

  &:hover .site-search-label:after {
    opacity: .1;
  }
}

.site-search-label {
  vertical-align: middle;
}

.site-search-icon {
  padding-left: 1rem;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  height: 1em;
  width: 1.6em;
  fill: currentColor;
  position: absolute;
  left: .5em;
  top: 50%;
  transform: translateY(-50%);
}




