%social-link {
  transition: all .25s ease-in-out;
  display: inline-block;
  font-size: 0;
  background: {
    repeat: no-repeat;
    position: center center;
    size: 60% 55%;
  }
}

%social-share-link {
  @extend %social-link;
  width: 55px;
  height: 35px;
  position: relative;
  font-family: $meta-font;
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:after {
    content: attr(title);
    position: absolute;
    top: 0;
    padding: 4px 5px;
    border-radius: 3px;
    display: inline-block;
    line-height: 1em;
    font-size: 14px;
    white-space: nowrap;
    transition: all .25s ease-in-out;
    transform: translate(-50%, -.1em);
    color: transparent;
    z-index: -2;
    border: 1px solid rgba(#000, 0);
  }
  &:hover:after {
    color: $light-text-color;
    background: $site-header-bg;
    transform: translate(-50%, -33px);
    border-color: rgba(#000, .15);
  }
  &:before {
    content: "";
    @include triangle(down, #fff, 6px);
    transform: translate(-50%, 16px);
    position: absolute;
    z-index: -1;
    transition: all .25s ease-in-out;
  }
  &:hover:before {
    transform: translate(-50%, -10px);
  }
}

%social-profile-link {
  @extend %social-link;
  width: 55px;
  height: 55px;
}

%twitter-logo {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="14.6"%3E%3Cpath fill="%23fff" d="M15.9 2.3c.8-.5 1.3-1.2 1.6-2-.8.4-1.6.7-2.4.9C14.4.4 13.6 0 12.5 0c-1 0-1.9.4-2.6 1.1-.8.7-1.1 1.6-1.1 2.6 0 .3 0 .6.1.8C5.8 4.4 3.3 3.1 1.3.7.9 1.3.7 1.9.7 2.5c0 1.3.5 2.3 1.6 3.1-.5-.1-1.1-.2-1.6-.5 0 .9.3 1.7.8 2.4s1.3 1.1 2.1 1.3c-.2.1-.6.1-.9.1-.3 0-.5 0-.7-.1.2.8.7 1.4 1.3 1.8.6.5 1.3.7 2.2.7-1.3 1-2.9 1.6-4.6 1.6H0c1.7 1.1 3.6 1.6 5.7 1.6s4-.5 5.7-1.6c1.6-1.1 2.9-2.4 3.6-4 .8-1.6 1.2-3.2 1.2-4.9v-.4C17 3 17.6 2.4 18 1.7c-.7.3-1.4.5-2.1.6z"/%3E%3C/svg%3E');
}
%facebook-logo {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="9" height="16"%3E%3Cpath fill="%23fff" d="M6 6h3v3H6v7H3V9H0V6h3V4.7c0-1.2.4-2.7 1.1-3.5C4.9.4 5.8 0 6.9 0H9v3H6.9c-.5 0-.9.4-.9.9V6z"/%3E%3C/svg%3E');
}
%g-plus-logo {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14.8" height="14.9"%3E%3Cpath fill="%23fff" d="M7.7 8.5L7 8c-.2-.2-.5-.4-.5-.8s.3-.7.6-1c.8-.6 1.7-1.3 1.7-2.8S7.9 1.1 7.4.7h1.2L9.8 0H5.7c-1 0-2.4.2-3.5 1.1C1.4 1.8 1 2.8 1 3.7c0 1.5 1.2 3.1 3.3 3.1h.6c-.1.2-.2.4-.2.7 0 .6.3 1 .6 1.3-.9.1-2.5.2-3.8.9-1.2.7-1.5 1.7-1.5 2.4 0 1.5 1.4 2.8 4.2 2.8 3.4 0 5.2-1.9 5.2-3.7 0-1.3-.8-1.9-1.7-2.7zM5.2 6.3c-1.7 0-2.5-2.2-2.5-3.5 0-.5.1-1 .4-1.5.3-.4.9-.7 1.4-.7C6.1.6 7 2.8 7 4.2c0 .4 0 1-.5 1.4-.3.4-.9.7-1.3.7zm0 7.9c-2.1 0-3.5-1-3.5-2.4s1.3-1.9 1.7-2c.8-.3 1.9-.3 2.1-.3H6c1.5 1.1 2.1 1.6 2.1 2.6 0 1.2-1 2.1-2.9 2.1zM11.8 7h-2V6h2V4.1l1-.1v2h2v1h-2v2h-1V7z"/%3E%3C/svg%3E');
}
%github-logo {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32.6" height="31.8" %3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" fill="%23fff" d="M16.3 0C7.3 0 0 7.3 0 16.3c0 7.2 4.7 13.3 11.1 15.5.8.1 1.1-.4 1.1-.8v-2.8c-4.5 1-5.5-2.2-5.5-2.2-.7-1.9-1.8-2.4-1.8-2.4-1.5-1 .1-1 .1-1 1.6.1 2.5 1.7 2.5 1.7 1.5 2.5 3.8 1.8 4.7 1.4.1-1.1.6-1.8 1-2.2-3.6-.4-7.4-1.8-7.4-8.1 0-1.8.6-3.2 1.7-4.4-.1-.3-.7-2 .2-4.2 0 0 1.4-.4 4.5 1.7 1.3-.4 2.7-.5 4.1-.5 1.4 0 2.8.2 4.1.5 3.1-2.1 4.5-1.7 4.5-1.7.9 2.2.3 3.9.2 4.3 1 1.1 1.7 2.6 1.7 4.4 0 6.3-3.8 7.6-7.4 8 .6.5 1.1 1.5 1.1 3V31c0 .4.3.9 1.1.8 6.5-2.2 11.1-8.3 11.1-15.5C32.6 7.3 25.3 0 16.3 0z"/%3E%3C/svg%3E')
}
%email-logo {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="72.1" height="48.7" viewBox="0 0 72.1 48.7"%3E%3Cg fill="%23fff"%3E%3Cpath d="M71.9 45.7c.1-.4.2-.9.2-1.4v-40c0-.5-.1-.9-.2-1.3L48.4 23.2l23.5 22.5zM36.1 28l6.2-5 3.1-2.6L69 .2c-.4-.1-.8-.2-1.2-.2H4.3c-.4 0-.8.1-1.2.2l23.6 20.2 3.1 2.6 6.3 5zM67.8 48.7c.4 0 .8-.1 1.2-.2L45.2 25.7 36 33.2l-9.2-7.5L3.2 48.5c.4.1.8.2 1.2.2h63.4zM.2 3c-.1.4-.2.9-.2 1.3v40c0 .5.1.9.2 1.4l23.5-22.6L.2 3z"/%3E%3C/g%3E%3C/svg%3E');
  background-size: 45% 55%;
}

.github-profile-link {
  @extend %social-profile-link;
  @extend %github-logo;
  background-color: #444;
  &:hover {
    background-color: #222;
  }
}

.twitter-share-link {
  @extend %social-share-link;
  @extend %twitter-logo;
  background-color: #1dadea;
  &:hover {
    background-color: darken(#1dadea, 8);
  }
}

.facebook-share-link {
  @extend %social-share-link;
  @extend %facebook-logo;
  background-color: #3c5a96;
  &:hover {
    background-color: darken(#3c5a96, 8);
  }
}

.g-plus-share-link {
  @extend %social-share-link;
  @extend %g-plus-logo;
  background-color: #d1493c;
  &:hover {
    background-color: darken(#d1493c, 8);
  }
}

.social-links {
  .email-share-link {
    @extend %social-share-link;
    @extend %email-logo;
    background-color: #ed7a23;
    &:hover {
      background-color: darken(#ed7a23, 5);
    }
  }
}

.social-buttons {
  > * { 
    vertical-align: baseline; 
    margin: 0 .2em;
    line-height: 0em;
  }
  .email-share-link {
    background-color: #ed7a23;
    color: #fff;
    font-size: .7rem;
    padding: 0 .2em;
    line-height: 1.1em;
    border-radius: 2px;
    margin: 0 .4em;
    border: 1px solid rgba(#000, .1);
    display: inline-block;
    position: relative;
    top: -.3em;

    &:before {
      content: "";
      @extend %email-logo;
      width: 1em;
      height: 1em;
      margin-right: 2px;
      display: inline-block;
      position: relative;
      top: .15em;
      background: {
        repeat: no-repeat;
        position: center center;
        size: 90% 90%;
      }
    }
    &:hover {
      color: #fff;
      background-color: darken(#ed7a23, 5);
    }
  }
}
