html {
  background: $site-bg;
  color: $site-text-color;
  @include at-least($max) {
    background: $main-bg;
  }
}

.site-top, .site-bottom {
  background: $site-bg;
}

a {
  color: $link-color;
}

.main {
  background: $main-bg;
}
