html {
  color: $site-text-color;
  background: $main-bg;
}

a {
  color: $link-color;
}

.site-top-content,
.site-bottom-content {
  text-align: center;
}

.site-bottom-content {
  border-top: 1px solid $page-border;
}

.full-width {
  @supports(width:100vw) {
    width: 100vw;
    transform: translateX(-#{$content-pad});
    @include at-least($main-content-max) {
      transform: translateX(calc((#{$main-content-max - ($content-pad * 2)} - 100vw)/2));
    }
  }
}
