{% if !post.linkpost %}
{% assign post_content = (theme.excerpt_index ? post.excerpt : post.content) %}
{% else %}{% assign post_content = post.content %}{% endif %}
{% assign permalink_label = (post.excerpted ? theme.read_more_label : theme.permalink_label) %}

<article class="entry {% return 'excerpted' if excerpted %}" role="article">
  <header class="entry-header">
    <h1 class="entry-title">{{ post.title_link }}</h1>
    {% if post.subtitle %}<h2 class="entry-subtitle">{{ post.subtitle }}</h2>{% endif %}
    <div class="entry-meta">{{ post.date_html }}</div>
  </header>

  <div class="entry-content">{{ post_content }}</div>

  <footer class='entry-footer'>
    <a class='permalink' rel="full-article" href="{{ post.url }}">{{ permalink_label }}</a>
  </footer>
</article>
