{% if post.excerpted and ((post.linkpost == false and theme.excerpt_posts) or (post.linkpost and theme.excerpt_linkposts)) %}
{% assign excerpted = true %}
{% else %}{% assign excerpted = false %}{% endif %}

{% assign post_content = (excerpted ? post.excerpt : post.content) %}
{% assign permalink_label = (excerpted ? theme.read_more_label : theme.permalink_label) %}

<article class="entry {% return 'excerpted' if excerpted %}" role="article">
  <header class="entry-header">
    {% if post.cover_image %}
    <img src='{{ post.cover_image }}'>
    {% endif %}
    <h2 class="entry-title">{{ post.title_link }}</h2>
    {% if post.subtitle %}<h2 class="entry-subtitle">{{ post.subtitle }}</h2>{% endif %}
    <div class="entry-meta"><a href="{{ post.url | expand_url }}">{{ post.date_html }}</a></div>
  </header>

  <div class="entry-content">{{ post_content }}</div>

  <footer class='entry-footer'>
    <a class='permalink' rel="full-article" href="{{ post.url }}">{{ permalink_label }}</a>
  </footer>
</article>
