{% if entry.previous.url or entry.next.url %}
<nav role="pagination" class="post-nav">
{% if page.previous.url %}
<a class="post-nav-prev" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><span class='post-nav-prev-arrow'>&laquo;</span>{{page.previous.title}}</a>
{% endif %}
{% if page.next.url %}
<a class="post-nav-next" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} <span class='post-nav-next-arrow'>&raquo;</span></a>
{% endif %}
</nav>
{% endif %}
