<footer class='site-footer' role="contentinfo">
  <p class='footer-copyright'>Copyright © {{ site.time | date: "%Y" }} - {{ site.author }} - Powered by Octopress</p>
  {% if theme.footer-nav %}
  <nav class='footer-nav' role="navigation">
    {% for link in theme.footer-nav %}
      {% assign url = link.url | expand_url %}
      {% assign class = link.class | classify if link.class %}
      <a class="primary-nav-link {{ class }}" href="{{ url }}">{{ link.title }}</a>
    {% endfor %}
  </nav>
  {% endif %}
</footer>
