$site-bg:            #edefef;
$main-bg:            #f5f6f6;
$page-border:        #dadede;

$accent-color:       #e46767; // pale red

$text-color:         #444;
$medium-text-color:  #666;
$light-text-color:   #888;
$link-color:         #4A89DC;

$site-header-bg:     #edefef;
$site-title-color:   #555;
$site-nav-color:     #333;

$gray:               #8d9297;
