// Global breakpoints
$tiny: 320px;
$small: 600px;
$medium: 750px;
$large: 900px;
$max: 1080px;


// Item widths
$main-sidebar-width: 300px;
$main-content-max: 800px;
$content-pad: 20px;

$h-pad-box: 5%, 40px;
$v-pad-box: 5%, 30px;

$base-font-size: 20px;
