// Theme settings

$center-headings: true;

// Stylesheets
@import "colors";
@import "sizes";
@import "mixins";
@import "fonts";
@import "typography";
@import "theme";
@import "grid";
@import "layout";
@import "header";
@import "entry";
@import "post-nav";
